.client-say .swiper {
    width: 100%;
}

.client-say .swiper-slide {
    text-align: center;
    font-size: 18px;
    height: auto !important;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-say .swiper-slide img {
    display: block;
    object-fit: cover;
}

.client-say .swiper-button-next {
    height: 20px;
}

@media (width > 768px) {
    .client-say .swiper-button-next {
        height: 44px;
    }

    .client-say .swiper-slide {
        height: auto
    }
}