.btn-main {
  border-radius: 50px;
}

.button-primary {
  color: white;
}

.overFlow {
  width: 8px;
  top: -10px;
  left: -45px;
  opacity: 20%;
  height: 120px;
  position: absolute;
  transition: all 0.8s;
  transform: rotate(30deg);
  background-color: #fff;
  box-shadow: rgb(255, 255, 255) 0px 5px 15px;
}

.btn-main:hover .overFlow {
  left: 250px;
}
